.Traffic {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 45%;
    right: 0;
    width: 3.5vw;
    height: 20vh;
    background: #32435C;
    border-radius: 2vh 0px 0px 2vh;
    z-index: 1;
}