.About{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.AboutMe{
    position: absolute;
    top: 10vh;
    left: 8vw;
}
.Container {
    display: flex;
    flex-direction: row;
}
.Left {
    flex: 1;
}

.Right {
    flex: 1;
    margin: 4vh 0;
}