.Career{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.CS{
    position: absolute;
    top: 10vh;
    left: 8vw;
}

.TSI{
    position: absolute;
    top: 10vh;
    left: 38vw;
}

.CE{
    position: absolute;
    top: 10vh;
    left: 68vw;
}

.Skills {
    position: absolute;
    top: 55vh;
    left: 8vw;
}

.Resume{
    position: absolute;
    top: 55vh;
    left: 38vw;
    text-align: center;
    justify-content: center;
}

.Overlay {
    position: fixed;
    top: 10%;
    left: 8%;
    z-index: 3;
    transition: ease-in-out .8s;
    cursor: pointer;
}

.Hide{
    position: fixed;
    top: 10%;
    left: -100%;
    z-index: 3;
    transition: ease-in-out .8s;
}

.Sheep{
    position: fixed;
    width: 100%;
    bottom: 15vh;
}