.Career{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.CS{
    position: absolute;
    top: 10vh;
    left: 8vw;
}

.TSI{
    position: absolute;
    top: 10vh;
    left: 38vw;
}

.CE{
    position: absolute;
    top: 10vh;
    left: 68vw;
}

.Skills {
    position: absolute;
    top: 55vh;
    left: 8vw;
}

.Resume{
    position: absolute;
    top: 55vh;
    left: 38vw;
    text-align: center;
    justify-content: center;
}