.Button {
    position: static;
    width: 3vh;
    height: 3vh;
    flex: none;
    align-self: center;
    margin: 1.5vh 0 0 0;
    border-radius: 3.5vh;
}

.Button:hover{
    background: #DD2800;
    transition: ease-in-out s;
}

.active {
    background: #83FFCA;
}
.inactive{
    background-color: white;
}