.App {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #94BFFF 0%, #5F7EAC 100%);
  display: flex;
  flex-direction: column;
}

.Landing{
  align-self: center;
}

.Logo{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 8%;
}

.DashesHorizontal {
  position: absolute;
  top: 3.6%;
  left: 10%;
  width: 90%;
}

.DashesVertical {
  position: fixed;
  top: 8%;
  left: 3%;
}